<app-header></app-header>
<!-- Breadcrumbs Start -->
	<div class="pages-header bg-color-2">
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-12">
            <div class="page-title ptb-110">
              <h1 class="mb-15">Your Goals! Our Mission!</h1>
              <h4 class="mb-5"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Breadcrumbs End -->
    <!-- We Area Section Start -->
    <div class="we-are white-bg ptb-100">
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-10 col-md-9 col-text-center">
            <div class="we-are-text">
              <h2>Who We Are</h2>
              <p>At Lawyer Client Meetup, we are providing a platform in which a person who needs to hire lawyer will get a large set of options which are segregated categorically, from which one can choose advocate as per their need of case. The website makes it easier for client to select a lawyer as it also has rating and reviews option. Which lawyers can maintain and strengthen their profile by adding up different cases they have solved. Lawyer even upload case studies of different lawyers which will be useful in their studies. We also includes news feed, which is beneficial to all students, lawyers and clients.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- We Area Section End -->
    <!-- Services Section Start -->
    <div class="service-area service-two light-bg ptb-100">
      <div class="container">
        <div class="row text-center">
                  <div class="col-xs-12 col-sm-4 mobile-mb-30">
                      <div class="single-service">
                          <i class="zmdi zmdi-account-circle"></i>
              <h5 class="text-uppercase">Lawyer</h5>
              <hr class="line">
              <p>Get hired. <br/>Strengthen your profile.<br/> Help and Grow.</p>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 mobile-mb-30">
                      <div class="single-service">
                          <i class="zmdi zmdi-account-circle"></i>
              <h5 class="text-uppercase">Client</h5>
              <hr class="line">
              <p>Select lawyers as per your need. <br/>Fight and win.</p>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="single-service">
                          <i class="zmdi zmdi-account-circle"></i>
              <h5 class="text-uppercase">Student</h5>
              <hr class="line">
              <p>Read casestudy.<br/> Learn more. <br/>Succeed and help needy.</p>
                      </div>
                  </div>
              </div>
      </div>
    </div>
    <!-- Services Section End -->
     
      <!-- Facts Area Start -->
      <div class="facts-area facts-one bg-color-3 section-padding">
          <div class="container">
              <div class="row text-center">
                  <div class="col-xs-12 col-sm-6 col-md-3 mobile-mb-30 tablet-mb-50">
                      <div class="single-counter">
                          <h1 class="no-margin"><span class="counter">0</span></h1>
                          <h4>Hours of Work</h4>
              <hr class="line">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 mobile-mb-30 tablet-mb-50">
                      <div class="single-counter">
                          <h1 class="no-margin"><span class="counter">0</span></h1>
                          <h4>Case Solved</h4>
              <hr class="line">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 mobile-mb-30">
                      <div class="single-counter ml-80">
                          <h1 class="no-margin"><span class="counter">0</span></h1>
                          <h4>Happy Clients</h4>
              <hr class="line">
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                      <div class="single-counter last-child">
                          <h1 class="no-margin"><span class="counter">0</span></h1>
                          <h4>Casestudies uploadeds</h4>
              <hr class="line">
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Facts Area End -->
      <!-- Testmonial Section Start -->
      <div class="testimonial-area testimonial-two white-bg ptb-100">
          <div class="container">
        <div class="row text-center">
          <div class="col-xs-12 col-sm-8 col-md-6 col-text-center">
            <div class="section-title pb-80">
              <h2>Client Reviews</h2>
              <div class="horizontal-line">
                <div></div>
              </div>
            </div>
          </div>
        </div>
              <div class="row text-center">
                  <div class="col-xs-12 col-sm-4 mobile-mb-30">
                      <div class="client-say">
              <div class="text white-bg mb-35">
                <p>The goal of website, "Your Goals. Our Mission." is rightly served.</p>
              </div>
              <div class="title">
                  <i class="fa fa-user-circle-o" style="font-size:48px"></i>
                <h3 class="mb-5">Bansi Shah</h3>
                <h5 class="no-margin"></h5>
              </div>
            </div>
                  </div>
                  <div class="col-xs-12 col-sm-4 mobile-mb-30">
                      <div class="client-say">
              <div class="text white-bg mb-35">
                <p>This is a great iniciative. Searching for lawyer has been made easy through this. </p>
               </div>
              <div class="title">
                  <i class="fa fa-user-circle-o" style="font-size:48px"></i>
                <h3 class="mb-5">Jay Dave</h3>
              </div>
            </div>
                  </div>
                  <div class="col-xs-12 col-sm-4">
                      <div class="client-say">
              <div class="text white-bg mb-35">
                <p>Really helpful for casestudies.</p> </div>
              <div class="title">
                  <i class="fa fa-user-circle-o" style="font-size:48px"></i>
                <h3 class="mb-5">Bhavya Pandit</h3>
              </div>
            </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Testimonial Section End -->
    <hr class="devider"/>
<app-footer></app-footer>