<app-header></app-header>
	<!-- Breadcrumbs Start -->
	<div class="pages-header bg-color-2">
		<div class="container">
			<div class="row text-center">
				<div class="col-xs-12">
					<div class="page-title ptb-110">
						<h1 class="mb-15">Portfolio</h1>
						<h4 class="mb-5">We are branding & digital studio from London.</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumbs End -->
    <!-- Portfolio Section Start -->
    <div class="portfolio-area portfolio-eight three-style3 light-bg section-padding clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
					<div class="portfolio-menu hover-1 text-center">
						<ul class="clearfix mb-40">
							<li data-filter="*" class="active">All</li>
							<li data-filter=".web">Web</li>
							<li data-filter=".design">Design</li>
							<li data-filter=".new">new</li>
							<li data-filter=".print">Print</li>
							<li data-filter=".work3d">3d work</li>
						</ul>
					</div>
					<div class="portfolio-grid masonry-grid hover-1">
						<div class="grid-item work3d print percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/1.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item web print new percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/2.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d design new percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/3.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d print web percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/4.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d design new percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/5.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d print design percent-33">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/6.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d print percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/7.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item web design print new percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/8.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item web design print new percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/9.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d design new percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/3.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d print web percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/5.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
						<div class="grid-item work3d design new percent-33 more-load">
							<div class="single-portfolio">
								<img src="assets/img/portfolio/3/style3/4.jpg" alt="MiniPo" />
							</div>
							<div class="project-title white-bg pl-30 ptb-30">
								<a href="portfolio-details.html"><h4 class="no-margin">Portfolio Item Title</h4></a>
								<p>Print, Branding</p>
								<hr class="line"/>
							</div>
						</div>
					</div>
					<div class="view-all text-center">
						<a class="btn mt-40" id="load-more-btn" href="javascript:void(0)">Load More <i class="zmdi zmdi-refresh-sync"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-footer></app-footer>