<app-header></app-header>
<!-- Header Space -->
<div class="header-space"></div>
  <!-- Header Section End -->
<!-- Breadcrumbs Start -->
<div class="pages-header bg-color-2">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="page-title ptb-110">
          <h1 class="mb-15">Contact Us</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->
<!-- Contact Area Start -->
<div class="contact-area contact-one section-padding white-bg">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-text-center no-padding">
        <div class="pull-left mobile-mb-30 tablet-mb-50">
          <div class="info-text">
            <h2>Contact Info:</h2>
            <p class="mb-30">Thanks for using our website,<br/> you can share your feedback or any other query<br/> with us our contact information as below.</p>
            <ul>
              <li class="mb-15"><span>Address: </span>B/5 ABC appartments near pragatinagar<br/>Ahmedabad 380061</li>
              <li><span>Phone: </span><a href="tel:+1122588788966">9876543210</a></li>
              <li><span>Email: </span><a href="mailto:MiniPo@gmail.com">lawyerclient_lcm@gmail.com</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right">
          <div class="contact-form">
            <form [formGroup]="feedback" (ngSubmit)="formsubmit()" class="custom-input contact-form">
              
                <div class="col-xs-12 col-sm-12">
                  <input type="text" placeholder="Enter Name" id="name" formControlName='name'>
                    <div *ngIf="submitted && valf.name.errors">
                      <div *ngIf="valf.name.errors.required">
                      <div id="req">Name is required
                      </div>
                      </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">

                  <input type="email" id="email" name="email" placeholder="Your Email" formControlName='email' required />

                  <div *ngIf="submitted && valf.email.errors">
                    <div *ngIf="valf.email.errors.required">
                    <div id="req">Email is required
                    </div>
                    </div>
                  </div>
                </div>
              
              
                <div class="col-xs-12 col-sm-12">
                  <input type="text" id="subject" name="subject" placeholder="Enter Subject" formControlName='subject' />

                  <div *ngIf="submitted && valf.subject.errors">
                    <div *ngIf="valf.subject.errors.required">
                    <div id="req">Subject is required
                    </div>
                    </div>
                  </div>
                </div>

              <div class="col-xs-12 col-sm-12">   

              <textarea name="message" id="message" rows="2" placeholder="Message" formControlName='message'></textarea>

              <div *ngIf="submitted && valf.message.errors">
                <div *ngIf="valf.message.errors.required">
                <div id="req">Message is required
                </div>
                </div>
              </div>
            </div>

              <button class="btn" type="submit" name="submit" id="contact_submit" data-complete-text="Well done!">
                Send Message
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact Area End -->
  <!-- Google Map Section Start -->
  <div>
      <div class="google-map" id="googleMap"></div>
  </div>
  <app-footer></app-footer>