<app-header></app-header>
<div class="pages-header bg-color-2">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12">
          <div class="page-title ptb-110">
            <h1 class="mb-15">Employment</h1>
            <h4 class="mb-5">Employment law mediates the relationship between workers, employing entities, trade unions and the government.</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumbs End -->
    <!-- Portfolio Section Start -->
    <div class="portfolio-area portfolio-eight three-style3 light-bg section-padding clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
          <div class="portfolio-menu hover-1 text-center">
            <ul class="clearfix mb-40">
              <li data-filter="*" class="active">Employment</li>
            </ul>
          </div>
          <div class="portfolio-grid masonry-grid hover-1">
            <div class="grid-item work3d print percent-33">
              <div class="single-portfolio">

                <!-- <img src="assets/img/portfolio/3/style3/" alt="MiniPo" /> -->
              </div>
              <div class="project-title white-bg pl-30 ptb-30">
                <a href="portfolio-details.html"><h4 class="no-margin"></h4></a>
                

                <hr class="line"/>
              </div>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>
    </div>
    <app-footer></app-footer>