<div class="container">

  <label><b>Enter email</b></label>

  <form [formGroup]="forgetpassword" (ngSubmit)="iforgetpassword()" >
                  <input type="text" placeholder="Enter email"formControlName='email' required>
                  <div *ngIf="submitted && valf.email.errors" required>
                    <div *ngIf="valf.email.errors.required" required><div id="req">Email is required
                  </div></div></div>
                  <button type="submit">Submit</button>
  </form>

                  </div>