
<app-header></app-header>
<!-- Slider Section Start -->
<div class="slider-area slider-one slider-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-text ptb-275">
                    <h1 class="font-80 mb-5"><font color="white">LCM</font></h1>
                    <h2 class="font-40 no-margin"><font color="white">Lawyer Client Meetup</font></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- Slider Section End -->
