<form [formGroup]="register">
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <label><b>Full Name</b></label>
    <input type="text" placeholder="Enter Name" formControlName='full_name'>
    <div *ngIf="submitted && vall.full_name.errors">
      <div *ngIf="vall.full_name.errors.required">
        <div id="req">First Name is required
        </div>
      </div>
    </div>


    <label for="gender"><b>Gender</b></label><br>
    <input type="radio" name="gender" value="male">Male<br>
    <input type="radio" name="gender" value="female">Female<br><br>

    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Email" formControlName='email'>
    <div *ngIf="submitted && vall.email.errors">
      <div *ngIf="vall.email.errors.required">
        <div id="req">Email is required
        </div>
      </div>
    </div>

    <label><b>State</b></label>
    <input type="text" placeholder="Enter state" formControlName='state'>
    <div *ngIf="submitted && vall.state.errors">
      <div *ngIf="vall.state.errors.required">
        <div id="req">State is required
        </div>
      </div>
    </div>

    <label><b>City</b></label>
    <input type="text" placeholder="Enter city" formControlName='city'>
    <div *ngIf="submitted && vall.city.errors">
      <div *ngIf="vall.city.errors.required">
        <div id="req">City is required
        </div>
      </div>
    </div>

    <label><b>Area</b></label>
    <input type="text" placeholder="Enter area" formControlName='area'>
    <div *ngIf="submitted && vall.area.errors">
      <div *ngIf="vall.area.errors.required">
        <div id="req">Area is required
        </div>
      </div>
    </div>

    <label><b>Mobile Number</b></label>
    <input type="text" placeholder="Enter mobile_number" formControlName='mobile_number'>
    <div *ngIf="submitted && vall.mobile_number.errors">
      <div *ngIf="vall.mobile_number.errors.required">
        <div id="req">Mobile Number is required
        </div>
      </div>
    </div>

    <label><b>password</b></label>
    <input type="password" placeholder="Enter password" formControlName='password'>
    <div *ngIf="submitted && vall.password.errors">
      <div *ngIf="vall.password.errors.required">
        <div id="req">password is required
        </div>
      </div>
    </div>

    <label><b>Aadhar Photo</b></label>
    <input type="file" placeholder="Enter aadhar photo" formControlName='aadhar_photo'>
    <div *ngIf="submitted && vall.aadhar_photo.errors">
      <div *ngIf="vall.aadhar_photo.errors.required">
        <div id="req">Aadhar Photo is required
        </div>
      </div>
    </div>

    <label><b>Lawyer certificate</b></label>
    <input type="file" placeholder="Enter lawyer certificate" formControlName='lawyer_certy'>
    <div *ngIf="submitted && vall.lawyer_certy.errors">
      <div *ngIf="vall.lawyer_certy.errors.required">
        <div id="req">Lawyer certificate is required
        </div>
      </div>
    </div>

    <label><b>Profile Photo</b></label>
    <input type="file" placeholder="Enter profile photo" formControlName='profile_photo'>
    <div *ngIf="submitted && vall.profile_photo.errors">
      <div *ngIf="vall.profile_photo.errors.required">
        <div id="req">Profile Photo is required
        </div>
      </div>
    </div>


    <label for="appointed_status"><b>Appointed Status</b></label>
    <input type="radio" name="appointed_status" value="yes">Yes
    <input type="radio" name="appointed_status" value="no">No

    <button type="submit" class="registerbtn" (click)="onSubmit()">Register</button>
  </div>

  <div class="container signin">
    <p>Already have an account? <a [routerLink]="[ '/login']">Sign in</a></p>
  </div>

</form>