<form (ngSubmit)="formsubmit()">
  <div class="imgcontainer">
    <i class="fa fa-user fa-5x" aria-hidden="true"></i>
  </div>

  <div class="right">
    <input type="radio" id="lawyer" [(ngModel)]="Usertype" value="lawyer" name="get_val">Lawyer<br>
    <input type="radio" id="client" [(ngModel)]="Usertype"  value="client" name="get_val">Client<br>
    <input type="radio" id="student" [(ngModel)]="Usertype"  value="student" name="get_val">Student<br>
  </div>
  


  <div class="container">

    <label><b>Enter email</b></label>
                    <input type="text" placeholder="Enter email"formControlName='email'>
                    <div *ngIf="submitted && vall.email.errors">
                      <div *ngIf="vall.email.errors.required"><div id="req">Email is required
                    </div></div></div>
                    
    <label><b>Enter password</b></label>
    <input type="password" placeholder="Enter password" formControlName='password'>
    <div *ngIf="submitted && vall.password.errors">
      <div *ngIf="vall.password.errors.required">
        <div id="req">password is required
        </div>
      </div>
    </div>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#0f0e01">
    <div class="left">
      <a [routerLink]="[ '/register']">Register</a>
    </div>
    <div class="topnav-right">
      <a href="#">Forgot Password?</a>
    </div>
  </div>
</form>