<app-header></app-header>
<div class="header-space"></div>
  <!-- Header Section End -->
<!-- Breadcrumbs Start -->
<div class="pages-header bg-color-2">
  <div class="container">
    <div class="row text-center">
      <div class="col-xs-12">
        <div class="page-title ptb-110">
          <h1 class="mb-15">Trendings</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumbs End -->
<!-- Blog Section Start -->
<div class="blog-area blog-three light-bg section-padding">
  <div class="container mb-minus">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-text-center">
        <div class="row">
          <div class="col-xs-12 mb-30 more-load">
            <div class="blog-post medium-post">
             
              <div class="blog-text white-bg">
                <div class="title clearfix">
                  <div class="post-date pull-left">
                    <h1 class="font-50 no-margin">10</h1>
                    <h6 class="no-margin">Jan , 2019</h6>
                  </div>
                  <div class="title-like">
                    <a><h4>10% quota to the economically weak, Rajya Sabha passes the bill.</h4></a>
                    
                  </div>
                </div>
                <p class="ptb-20">The Rajya Sabha on Wednesday, Jan 9 2019 has given a green signal to a proposed law that will provide 10% quota to the people in general category in jobs and education. The bill has been passed by the Rajya Sabha while turning down the demand by some of the opposition parties to send it for scurtiny to a selected commity.</p>
                <div class="blog-footer">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 mb-30 more-load">
            <div class="blog-post medium-post">
              
              <div class="blog-text white-bg">
                <div class="title clearfix">
                  <div class="post-date pull-left">
                    <h1 class="font-50 no-margin">25</h1>
                    <h6 class="no-margin">Nov , 2018</h6>
                  </div>
                  <div class="title-like">
                    <a><h4>Karnataka HC denies relief to law student who couldn't finish course in 7 years.</h4></a>
                    
                  </div>
                </div>
                <p class="ptb-20">The Karnataka HC has denied relief to a law student who failed to complete his LLB course within the prescribed period of 7 years.</p>
                <div class="blog-footer">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 mb-30 more-load">
            <div class="blog-post medium-post">
              <div class="thumb">
                <a href="blog-details.html">
                  
                </a>
              </div>
              <div class="blog-text white-bg">
                <div class="title clearfix">
                  <div class="post-date pull-left">
                    <h1 class="font-50 no-margin">4</h1>
                    <h6 class="no-margin">Dec , 2018</h6>
                  </div>
                  <div class="title-like">
                    <a><h4>Delhi HC grants visitation rights to father despite Settlement Agreement to the contrary.</h4></a>
                    
                  </div>
                </div>
                <p class="ptb-20">Visitation rights were given to the father of a four-year-old girl by the Delhi High Court. This order was made despite the fact that there was a settlement agreement between the parents,  disallowing for any contact between her and her father.</p>
                <div class="blog-footer">
                  
                </div>
              </div>
            </div>
          </div>
          <!-- First Items Loaded -->
          <div class="col-xs-12 mb-30 more-load">
            <div class="blog-post medium-post">
              <div class="thumb">
                <a href="blog-details.html">
                  
                </a>
              </div>
              <div class="blog-text white-bg">
                <div class="title clearfix">
                  <div class="post-date pull-left">
                    <h1 class="font-50 no-margin">22</h1>
                    <h6 class="no-margin">Nov , 2018</h6>
                  </div>
                  <div class="title-like">
                    <a><h4>Public Interest Litigation can't be used as a tool to wreck vengeance": Karnataka HC</h4></a>
                    
                  </div>
                </div>
                <p class="ptb-20">The Karnataka High Court, while dismissing a petition filed by a woman who had filed criminal cases against her husband, has held that Public Interest Litigation cannot be used as a tool to take revenge.</p>
                <div class="blog-footer">
                 
                </div>
              </div>
            </div>
          </div>
          <!-- Second Items Loaded -->
        </div>
      </div>
    </div>
    <div class="all-post text-center">
      
    </div>
  </div>
</div>
<app-footer></app-footer>