<app-header></app-header>
<div class="pages-header bg-color-2">
	<div class="container">
		<div class="row text-center">
			
		</div>
	</div>
</div>
<!-- Breadcrumbs End -->
<!-- Portfolio Details Section Start -->
<div class="portfolio-details light-bg section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 mobile-mb-30">
				<div class="portfolio-info">

					<h2>Mamta Desai</h2>
					<ul class="work-info pt-40">
						<li><span>Email :</span> <p>mamta@gmail.com</p></li>
						<li><span>State :</span> <p>gujarat</p></li>
						<li><span>City :</span> <p>ahmedabad</p></li>
						<li><span>Area :</span> <p>ghatlodiya</p></li>
						<li><span>Mobile Number :</span> <p>1234567890</p></li>
						<li><span>Appointed Status :</span> <p>no</p></li>

						<li class="share"><span>Share :</span> 
							<div class="social-icon style1">
								<ul class="clearfix">
									<li><a target="_blank" href="http://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a></li>
									<li><a target="_blank" href="http://www.twitter.com/"><i class="zmdi zmdi-twitter"></i></a></li>
									<li><a target="_blank" href="http://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a></li>
									<li><a target="_blank" href="http://www.linkedin.com/"><i class="zmdi zmdi-linkedin"></i></a></li>
									<li><a target="_blank" href="http://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7">
				<div class="portfolio-image mb-30">
					<a class="venobox" data-gall="gall-img" href="assets/img/portfolio/details/m6.jpg" alt="MiniPo">
						<img src="assets/img/portfolio/details/m6.jpg" alt="MiniPo" />
					</a>
				</div>
				
			</div>
		</div>
	</div>

	<div class="wrapper">
		<button class="button">CONTRACT</button>
	</div>

</div>
<app-footer></app-footer>