<app-header></app-header>
<div class="pages-header bg-color-2">
	<div class="container">
		<div class="row text-center">
			
		</div>
	</div>
</div>
<!-- Breadcrumbs End -->
<!-- Portfolio Details Section Start -->
<div class="portfolio-details light-bg section-padding">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-5 mobile-mb-30">
				<div class="portfolio-info">
					<h2>Barry Allen</h2>
					<p>I have solved more than 35 cases and succeeded. My main motto is handling business transactions </p>
					<ul class="work-info pt-40">
						<li><span>BirthDate :</span> <p>27 August 1991</p></li>
						<li><span>Rating :</span> <p>4/5</p></li>
						<li><span>Skills :</span> <p>Closure and mereges</p></li>
						<li><span>Contact Me :</span> <p>9786463782</p></li>
						<li class="share"><span>Share :</span> 
							<div class="social-icon style1">
								<ul class="clearfix">
									<li><a target="_blank" href="http://www.facebook.com/"><i class="zmdi zmdi-facebook"></i></a></li>
									<li><a target="_blank" href="http://www.twitter.com/"><i class="zmdi zmdi-twitter"></i></a></li>
									<li><a target="_blank" href="http://www.pinterest.com/"><i class="zmdi zmdi-pinterest"></i></a></li>
									<li><a target="_blank" href="http://www.linkedin.com/"><i class="zmdi zmdi-linkedin"></i></a></li>
									<li><a target="_blank" href="http://www.instagram.com/"><i class="zmdi zmdi-instagram"></i></a></li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-7">
				<div class="portfolio-image mb-30">
					<a class="venobox" data-gall="gall-img" href="assets/img/portfolio/details/m6.jpg" alt="MiniPo">
						<img src="assets/img/portfolio/details/m6.jpg" alt="MiniPo" />
					</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>